<div class="container pt-5">
  <h2>ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-text"><i class="far fa-envelope fa-fw"></i></span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-key fa-fw"></i></span>
        <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit 'ログイン', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<%= render 'users/shared/links' %>
