<div class="container">
	<h3 class="text-center mt-3">日報</h3>
</div>
<hr>
<div class="container">
	<%= render 'date_ctrl', date: @date %>
</div>
<hr class="mt-0 mb-4">
<div class="container">
	<table class="table table-hover my-5">
		<thead>
			<tr>
				<% %w[名前 状態 開始 終了 休憩 合計].each do |col| %>
					<th><%= col %></th>
				<% end %>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @rows.each do |row| %>
				<tr class="table-<% if row[:attendance].status == 'applying' %>info<% end %> text-<% if row[:attendance].status == 'draft' %>secondary<% end %>">
					<th><%= row[:email] %></th>
					<td class="text-<% if row[:attendance].status == 'approved' %>success<% elsif row[:attendance].status == 'rejected' %>danger<% end %>"><%= row[:attendance].status_ja %></td>
					<td><%= row[:attendance].start_time_str %></td>
					<td><%= row[:attendance].end_time_str %></td>
					<td><%= row[:attendance].break_time_str %></td>
					<td><%= row[:attendance].sum_time_str %></td>
					<td class="text-right text-nowrap">
						<%= form_tag("/admin/#{row[:attendance].id}", method: 'post') do %>
							<%= hidden_field_tag :status, nil, {id: "status#{row[:id]}"} %>
							<a href="#" class="btn btn-sm mr-3 btn-<% if !row[:attendance].status.in?(%w[applying approved]) %>outline-secondary disabled<% else %>danger<% end %>">却下</a>
							<a href="#" class="btn btn-sm btn-<% if !row[:attendance].status.in?(%w[applying rejected]) %>outline-secondary disabled<% else %>success<% end %>">承認</a>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<div>
	  <ul class="pagination">
	    <li class="page-item disabled">
	      <a class="page-link" href="#">&laquo;</a>
	    </li>
	    <li class="page-item active">
	      <a class="page-link" href="#">1</a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" href="#">2</a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" href="#">3</a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" href="#">4</a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" href="#">5</a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" href="#">&raquo;</a>
	    </li>
	  </ul>
	</div>
</div>
