<div class="row">
	<div class="col-3"><a href="?date=<%= (date - 1.day).strftime '%Y-%m-%d' %>" class="fas fa-angle-left fa-3x text-primary" data-add="-1"></a></div>
	<div class="form-group has-successa col-6">
		<input type="date" name="date" value="<%= date.strftime '%Y-%m-%d' %>" class="form-control is-valida" required>
	</div>
	<div class="col-3 text-right"><a href="?date=<%= (date + 1.day).strftime '%Y-%m-%d' %>" class="fas fa-angle-right fa-3x text-primary" data-add="1"></a></div>
</div>
