<div class="container pt-5">
  <h2>会員登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

		<div class="form-group">
			<div class="input-group">
				<span class="input-group-text"><i class="far fa-envelope fa-fw"></i></span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
			</div>
      <small class="form-text text-muted">&nbsp;</small>
		</div>

    <div class="form-group">
			<div class="input-group">
				<span class="input-group-text"><i class="fas fa-key fa-fw"></i></span>
        <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>
			</div>
      <small class="form-text text-muted"><%= @minimum_password_length %>文字以上のパスワード</small>
		</div>

    <div class="form-group">
			<div class="input-group">
				<span class="input-group-text"><i class="fas fa-key fa-fw"></i></span>
        <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control' %>
			</div>
      <small class="form-text text-muted">確認用パスワードを入力してください</small>
		</div>

    <div class="actions">
      <%= f.submit '会員登録する', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<%= render "users/shared/links" %>
